.resultlbl {
  font-weight: 700;
  color: #111;
  text-align: center;
  padding: 5px;
  border: solid 1px #aaa;
  position: relative;
  cursor: pointer;
  background: #e9e9e9;
  margin: -1px -3px 0;
  display: inline-block;
  width: 10em;
  border-radius: 8px;
  margin-right: 0.5em;
}
div {
display: block;
}
.wrap {
margin-right: 5%;
margin-left: 20%;
}
.results {
width: 44%;
float: left;
}
.panel {
float: left;
display: inline-block;
}
.pokeselect {
width: 24em;
}
.moveSelect {
  width: 10em;
}
.infogroup {
margin: 1em 0;
}

th {
font-size: 1em;
padding: 0;
display: table-cell;
font-weight: bold;
}
td {
padding: 0;
}
input {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: textfield;
  background-color: white;
  cursor: text;
  margin: 0em;
  padding: 1px 0px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
  width: 3em;
}

.moveslbl {
border: 1px solid rgba(0, 0, 0, 0.3);
text-align: left;
padding-right: 1em;
padding-bottom: 0.1em;
width: 5.5em;

}
.checkbox {
width: auto;
-webkit-appearance: checkbox;
}

hr {
  display: block;
  unicode-bidi: isolate;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

.left {
float: left;
width: 10em;
}
.right {
float: right;
}

.field {
height: 532px;
}
.bott {
text-align: center;
float: bottom;
display: block;
}
.fieldTraps {
  height: 50px;
}
#title {
  background-color: rgb(129, 134, 143);
  border: solid black;
  text-align: center;
  width: 100%;
  border-radius: 5px 5px 5px 5px;
  color: #000000;
  font-family: "Times New Roman";
}
